/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* universal style */
*{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;    
}

body{
    font-family: "Inter", sans-serif;
}

/* header section */
/* navbar */
.navbar{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo{
    width: 100%;
}

.logo img{
    width: 200px;
}


.menu{
    width: 100%;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    font-size: 20px;   
}

.menu a{
    text-decoration: none;
    color: #575757;
    font-weight: 600;
    transition: all 0.5s ease;
}

.menu a:hover{
    color: #1D4ED8;
    
    
}

.register-btn{
    width: 100%;
    text-align: end;
}

.register-btn button{
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.register-btn button:hover{
    background-color: #575757;
    
}


/* ---------------------------------------------- */
/* hero section */
.hero-container{
    margin: 0 auto;
    background-image: url(/imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100svh;
    
}

.overlay{
    width: 100%;
    min-height: 100svh;
    background: linear-gradient(#000000c0, #00000033);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading{
    color: #FFFFFF;
    font-size: 80px;
}

.hero-description{
    margin-top: 16px;
    color: #ffffffbe;
    max-width: 825px;
    font-size: 22px;
    text-align: center; 
}

.cta-btn{
    margin-top: 350px;
    font-size: 24px;
    text-align: center;
    padding: 25px 60px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
    border-radius: 20px;
}









/* footer section */
footer{
    margin: 0 auto;
    background-color: #0D1B2A;
    color: #ffffff3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 15px 10px;
}


.footer-right{
    width: 100%;
    text-align: end;
}
.footer-right p{
    margin: 10px;
}


.footer-middle{
    width: 100%;
    text-align: center;
}

.footer-left{
    width: 100%;
}


