/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* universal style */
*{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;    
}

body{
    font-family: "Inter", sans-serif;
}

/* header section */
/* navbar */
.navbar{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo{
    width: 100%;
}

.logo img{
    width: 200px;
}


.menu{
    width: 100%;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    font-size: 20px;   
}

.menu a{
    text-decoration: none;
    color: #575757;
    font-weight: 600;
    transition: all 0.4s ease;
}

.menu a:hover{
    color: #1D4ED8;
    
    
}

.register-btn{
    width: 100%;
    text-align: end;
}

.register-btn button{
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.register-btn button:hover{
    background-color: #575757;
    
}


/* ---------------------------------------------- */
/* hero section */
.hero-container{
    margin: 0 auto;
    background-image: url(./imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100svh;
    
}

.overlay{
    width: 100%;
    min-height: 100svh;
    background: linear-gradient(#000000c0, #00000033);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading{
    color: #FFFFFF;
    font-size: 80px;
}

.hero-description{
    margin-top: 16px;
    color: #ffffffbe;
    max-width: 825px;
    font-size: 22px;
    text-align: center; 
}

.cta-btn{
    margin-top: 350px;
    font-size: 24px;
    text-align: center;
    padding: 25px 60px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
    border-radius: 20px;
}

/* ---------------------------------------------------- */
/* *********  main section start *************/
/* meet our speakers */

.sp-section{
    width: full;
    padding: 100px;
}

.sp-section>h2{
    font-size: 40px;
    text-align: center;
    margin: 40px;
}


.sp-card-container{
    width: full;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    align-items: center;
    margin: 0 auto;
}

.sp-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #575757;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.sp-card>img{
    width: 100%;
    object-fit:cover;
    border-radius: 20px 20px 0 0;

}

.card-body{
    width: 100%;
    margin: 0;
    padding: 10px;
    align-items: start;
    line-height: 30px;
}
.card-body a{
    color: #3f6ae0;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}

.card-body p{
    color: #00000081;
    font-size: 14px;
}


/* ********************************************** */
/* ----------------- secure yor spot ------------- */
.scr-section{
    width: full;
    padding: 100px;
}

.scr-section h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.scr-section>p{
    font-size: 16px;
    text-align: center;
    margin: 15px 0 40px 0;
    color: #575757;
}

.booking-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}


.scr-card{
    border: 1px solid #000000;
    width: 100%;
    padding: 50px;
    border-radius: 20px;
}

.pricing-part h3{
    font-size: 44px;
}

.badge{
    color: #575757;
    font-size: 14px;
}


.action-btn{
    width: 100%;
    background: transparent;
    color: #575757;
    padding: 11px;
    border: 1px solid #575757;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}



.standard-card{
    background: transparent;
    border: 2px solid #57575759;
}

.pro-card{
    background-color: #000000;
    color: #ffffff93;
}

.pro-card .pricing-part h3{
    color: #FFFFFF;
    font-size: 44px;
}

.pricing-part{
    margin-bottom: 40px;
}

.pro-card .badge{
    color: #93C5FD;
    font-size: 14px;
}


.facility-list{
    margin-bottom: 20px;
    color: #575757;
    list-style:square
}

.facility-list li{
    margin-top: 15px;
}


.pro-facility-list{
    color: #cfcdcd;
}


.pro-action-btn{
    width: 100%;
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 11px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}


.team-card{
    background-color: #5757571c;
    border: none;
}












/* footer section */
footer{
    margin: 0 auto;
    background-color: #0D1B2A;
    color: #ffffff3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 15px 100px;
}


.footer-right{
    width: 100%;
    text-align: end;
}
.footer-right p{
    margin: 10px;
}


.footer-middle{
    width: 100%;
    text-align: center;
}

.footer-left{
    width: 100%;
}

.footer-left img{
    width: 200px;
}


